* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

a {
  text-decoration: none;
}

input {
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

.hidden {
  display: none;
}

.header_container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background: rgba(244, 247, 252, 0.75);
  padding: 16px 12px;
}

.header_comp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_comp_left, .header_comp_right {
  display: flex;
  align-items: center;
}

#search {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid rgb(161, 169, 184);
  padding-left: 36px;
}
#search::-moz-placeholder {
  color: rgb(161, 169, 184);
}
#search::placeholder {
  color: rgb(161, 169, 184);
}

.search_icon,
.plus_icon,
.xmark_icon {
  position: relative;
  left: 25px;
}

.xmark_icon {
  width: 12px;
}

.header_comp_add_btn {
  padding: 6px 12px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2%;
  color: white;
  border-radius: 6px;
  background: rgb(34, 100, 230);
  border: none;
  cursor: pointer;
  padding-left: 36px;
}

.header_comp_cancel_btn {
  padding: 6px 12px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2%;
  color: white;
  border-radius: 6px;
  background: rgb(248, 25, 25);
  border: none;
  cursor: pointer;
  padding-left: 36px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: rgba(244, 247, 252, 0.75);
}

th,
td {
  padding: 12px 16px;
  border: none;
  text-align: left;
  font-size: 14px;
}

th {
  font-weight: bold;
  color: #6b7280;
  text-transform: uppercase;
  font-size: 12px;
}

tr {
  cursor: pointer;
}

tbody tr:nth-child(even) {
  background: rgba(244, 247, 252, 0.75);
}

.table_container {
  margin: 0;
}

.header_desc {
  max-width: 240px;
}

.header_status, .header_rate, .header_balance, .header_deposite {
  max-width: 100px;
}

.expand-row td {
  padding: 10px 0;
  transition: all 0.3s ease;
  background-color: #f8f8f8;
}
.expand-row td .button-wrapper {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  animation: fadeIn 0.3s ease;
}
.expand-row td .btn_default {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2%;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  width: 65px;
}
.expand-row td .btn_default:hover {
  transform: scale(1.04);
}
.expand-row td .edit_btn {
  background: rgb(34, 100, 230);
}
.expand-row td .delete_btn {
  background: rgb(248, 25, 25);
}
.expand-row td .cancel_btn {
  background: rgb(83, 78, 83);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.add_customer_card {
  margin: 0 auto;
  background-color: rgb(100, 83, 83);
  width: 350px;
  color: white;
  padding: 20px;
  border-radius: 12px;
}
.add_customer_card h3 {
  text-align: center;
}
.add_customer_card form {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.add_customer_card input {
  border: 2px solid transparent;
  padding: 6px 8px;
  border-radius: 8px;
  outline: none;
  overflow: hidden;
  transition: border ease 0.3s;
}
.add_customer_card input:focus {
  border-color: rgb(34, 100, 230);
}
.add_customer_card input[type=submit] {
  background-color: greenyellow;
  margin-top: 20px;
  cursor: pointer;
}
.add_customer_card input[type=submit]:focus {
  border: none;
}
.add_customer_card label {
  padding: 4px;
  cursor: pointer;
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */